.detailProduct{

	margin-bottom: 12rem;
	
	.mainContent{


	}
	.ctnProduct{
		display: flex;
		gap: 14rem;

		.left{
			.slides{
				margin-top: 16rem;
				display: flex;
				gap: 1.6rem;

				.slide{
					width: 88px;
					height: 88px;
					border: 1px solid gray;
				}
			}
		}
		.right{

			.price,.productName{
				//styleName: Display sm/Bold;
				font-size: var(--font-display-sm);
				font-weight: 700;
				line-height: 38px;

			}
			
			.subText{
				margin-top: 0.8rem;
				//styleName: Text md/Regular;
				color: var(--Neutral-600);
				font-size: var(--font-size-md);
				font-weight: 400;
				line-height: 24px;
			}

			.bonus{
				padding: 1.2rem;
				display: flex;
				flex-direction: column;
				gap: 1.2rem;
				border-radius: 1.5rem;
				background: var(--Neutral-50);
				list-style-type: disc;
				padding-left: 3.4rem;
				margin: 2.4rem 0 3.8rem 0;

				h4{
					//styleName: Text lg/Bold;
					font-size: var(--font-size-lg);
					font-weight: 700;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: center;

				}
				li{
					//styleName: Text md/Regular;
					font-size: var(--font-size-md);
					font-weight: 400;
					line-height: 24px;
					color: var(--Neutral-900);
				}
			}
			.btn-buy{
				height: 58px;
				width: 100%;
				display: flex;
				align-items: center;
				gap: 1.4rem;
				border-radius: 200px;
				justify-content: center;
				color: #fff;
				background: #0066CC;
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;


			}
			
		}
	}
	.colorPicker{
		margin: 3.2rem 0 2.4rem 0;

		display: flex;
		gap: 1.2rem;

		.color.pick{
			border: 2px solid #0066CC;
		}
		.color{
			
			border-radius: 99%;
			width: 36px;
			height: 36px;
			padding: 5px;

			.dot{
				width: 100%;
				height: 100%;
				background: #000;
				border-radius: 99%;
			
			}
		}

	}
	.spectrums{
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		margin-top: 4.3rem;
		
		
		.btnSpectrums{
			width: max-content;
			display: flex;
			gap: 1.2rem;
			align-items: center;
			//styleName: Text lg/Medium;
			font-size: var(--font-size-lg);
			font-weight: 500;
			width: max-content;
			line-height: 28px;
			letter-spacing: 0em;
			color: #0066CC;
		}
		.content{
			
			h5{
				//styleName: Text lg/Medium;
				font-size: var(--font-size-lg);
				font-weight: 600;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;
				
			}

			ul{
				list-style-type: disc;
				padding-left: 3rem;
				margin-top: 1.2rem;

				li{
					font-size: var(--font-size-md);
					
				}
			}
		}
	}
}	

