.products {

	background: var(--Neutral-50, #F9FAFB);
	padding: 10rem 0px;

	.mainContent {

		.top {
			.nav {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				h2 {
					color: var(--Neutral-900, #101828);
					/* Display md/Bold */
					font-size: var(--font-display-md);
					font-weight: 700;
					line-height: 44px;
					/* 122.222% */
					letter-spacing: -0.72px;
				}
			}

			.switch {
				display: flex;
				gap: 4px;

				margin-top: 4.8rem;
			}
		}

		.wrapperProducts {
			transition: all ease-in-out 0.3s;

			.productCard {
				display: flex;
				flex-direction: column;

				align-items: center;

				.name {
					color: var(--Neutral-Black, #000);
					/* Display xs/Bold */
					font-size: var(--font-display-xs);
					font-weight: 700;
					line-height: 32px;
					/* 133.333% */

					margin-top: 6.6rem;
				}

				.subText {

					color: var(--Neutral-700, #344054);
					/* Text lg/Semibold */
					font-size: var(--font-size-lg);
					font-style: normal;
					font-weight: 600;
					line-height: 28px;
					/* 155.556% */

					margin-top: 0.8rem;
					margin-bottom: 2.4rem;
				}

				.pricing {
					color: var(--Neutral-Black, #000);
					/* Text xl/Bold */
					font-size: var(--font-size-xl);
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
					/* 150% */
				}

				.ctnButtons {
					display: flex;
					align-items: center;
					gap: 2.4rem;

					margin-top: 3.4rem;
				}
			}


		}

	}

	.toggle-switch {
		width: 50px;
		height: 30px;
		background-color: #ccc;
		border-radius: 15px;
		position: relative;
		cursor: pointer;
		transition: background-color 0.3s ease;
		/* Animation for background color */
	}

	.toggle-switch.checked {
		background-color: #4caf50;
	}

	.slider {
		width: 25px;
		height: 25px;
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		transition: transform 0.3s ease;
		/* Animation for sliding effect */
	}

	.toggle-switch.checked .slider {
		transform: translate(100%, -50%);
	}



}

.introduce {

	.featureReason {
		padding: 2rem 0 10rem 0;

		.mainContent {}

		.wrapperTitle {


			margin-bottom: 3.6rem;

			.title {
				font-size: 36px;
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: left;
				text-transform: uppercase;
				color: #fff;

				.highlight {
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;


				}
			}

			.subTitle {
				//styleName: Text lg/Regular;
				color: var(--Neutral-100);
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;

			}

			.text {
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: left;
				color: var(--Neutral-800);

			}
		}

		.wrapperTable {
			color: white;
			background: #002447;

			border-radius: 12px;
			border: 1px solid var(--Neutral-500, #667085);

			&:first-child {
				border-bottom: 1px solid var(--Neutral-500, #667085);
			}

			.rowContent {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				border-top: 1px solid var(--Neutral-500, #667085);
				font-size: 16px;


				.columnContent {
					padding: 2rem 3.2rem;
					text-align: center;
					font-weight: 500;
					line-height: 24px;
					font-size: var(--font-size-md);

					display: flex;
					justify-content: center;

					&:nth-child(1) {
						text-align: left;
						justify-content: start;
						display: flex;
						align-items: start;
						font-size: var(--font-size-md);
						font-style: normal;
						font-weight: 700;
						line-height: 24px;
						/* 150% */
					}

				}
			}
		}

		.wrapperTable2 {
			color: white;
			width: max-content;
			border-radius: 12px;
			border: 1px solid var(--Neutral-500, #667085);

			&:first-child {
				border-bottom: 1px solid var(--Neutral-500, #667085);
			}

			.rowContent {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				border-top: 1px solid var(--Neutral-500, #667085);
				font-size: 16px;


				.columnContent {
					padding: 2rem 3.2rem;
					text-align: center;
					font-weight: 500;
					line-height: 24px;
					font-size: var(--font-size-md);

					display: flex;
					justify-content: center;

					&:nth-child(1) {
						text-align: left;
						justify-content: start;
						display: flex;
						align-items: start;
						font-size: var(--font-size-md);
						font-style: normal;
						font-weight: 700;
						line-height: 24px;
						/* 150% */
					}

				}
			}
		}
	}


	.subscriptions {
		padding: 10rem 0;
		// background: #020218;


		.wrapperTitle {

			margin-bottom: 8rem;

			.title {
				font-size: 36px;
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: left;
				color: var(--Neutral-50);

				.highlight {
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;


				}
			}

			.subTitle {
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: left;
				color: #fff;

			}
		}

		.cards {
			display: flex;
			justify-content: center;
			row-gap: 3.6rem;
		}

		.subscription {
			color: var(--Neutral-500);
			min-height: 525px;
			display: flex;
			flex-direction: column;
			padding: 2.4rem 2.6rem;
			padding-bottom: 4rem;
			border: 2px solid currentColor;
			border-radius: 16px;
			max-width: 353px;
			min-width: 320px;
			position: relative;
			overflow: hidden;

			.banner {
				position: absolute;
				width: 200px;
				top: 5%;
				right: -17%;
				background: #0066CC;
				color: #fff;
				font-size: 20px;
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: center;
				transform: rotate(40deg);
			}

			.ctnName {

				.name {
					//styleName: Text lg/Semibold italic;
					font-size: var(--font-size-lg);
					font-weight: 600;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					color: white;

				}

				.subName {
					color: white;
					font-size: 1.2rem;
					font-style: italic;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0em;
					text-align: right;
					padding-right: 45%;
				}
			}

			.ctnPrice {
				display: flex;
				align-items: flex-end;
				margin: 12px 0 32px 0;

				.price {
					//styleName: Display lg/Semibold;
					font-size: var(--font-display-lg);
					font-weight: 600;
					line-height: 60px;
					letter-spacing: -0.02em;
					text-align: left;
					color: #28BCB8;


				}

				.subPrice {
					//styleName: Text sm/Medium;
					font-size: var(--font-size-sm);
					font-weight: 500;
					line-height: 20px;
					letter-spacing: 0em;
					text-align: left;
					color: #fff;

				}
			}

			.ctnSpec {
				//styleName: Text md/Regular;
				display: flex;
				flex-direction: column;
				gap: 1.6rem;

				.spec {
					display: flex;
					gap: 1.2rem;
					color: #fff;
					font-size: var(--font-size-md);
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0em;
					text-align: left;

					.text {
						//styleName: Text md/Regular;
						font-size: var(--font-size-md);
						font-weight: 400;
						line-height: 24px;
						letter-spacing: 0em;
						text-align: left;

					}
				}

			}

			.ctnBtn {
				margin-top: auto;
				display: flex;

				align-items: center;
				justify-content: space-around;

				.btn-checkout {
					display: flex;
					width: max-content;
					border-radius: 999px;
					padding: 12px 24px 12px 24px;
					background: #E6F0FA;

					font-size: var(--font-size-lg);
					font-weight: 500;

					&:hover {
						filter: invert(1);
						outline: 2px solid;
					}
				}
			}
		}
	}

	background: radial-gradient(607.72% 252.81% at 8.68% 5.79%, #01000B 34.29%, rgba(10, 3, 77, 0.80) 100%);

	.table {
		padding: 10rem 0;

		h2 {
			color: #FFF;
			font-size: var(--font-display-md);
			font-weight: 700;
			line-height: 44px;
			/* 122.222% */
			letter-spacing: -0.72px;
			text-transform: uppercase;
			margin-bottom: 8.5rem;

			span {
				background: linear-gradient(176deg, #28BCB8 3.29%, #060544 260.18%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-size: var(--font-display-md);
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.72px;
				text-transform: uppercase;
			}
		}

		.wrapperTable {
			color: white;
			border-radius: 12px;
			border: 1px solid var(--Neutral-500, #667085);

			&:first-child {
				border-bottom: 1px solid var(--Neutral-500, #667085);
			}

			.rowContent {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				border-top: 1px solid var(--Neutral-500, #667085);
				font-size: 16px;


				.columnContent {
					padding: 2rem 3.2rem;
					text-align: center;
					font-weight: 500;
					line-height: 24px;
					font-size: var(--font-size-md);

					&:nth-child(1) {
						text-align: left;
						font-size: var(--font-size-md);
						font-style: normal;
						font-weight: 700;
						line-height: 24px;
						/* 150% */
					}

				}
			}
		}
	}

	.titleContent {
		padding: 16rem 8rem;
		margin: 0 auto;

		.ctnText {
			display: flex;
			justify-content: center;
			gap: 3.3rem;
			margin-bottom: 1.6rem;

			.text {
				display: flex;
				gap: 0.8rem;
			}

			h3 {
				color: white;
				font-size: var(--font-size-xl);
				font-style: normal;
				font-weight: 400;
				line-height: 60px;
				/* 300% */
			}
		}

		h2 {
			color: #FFF;
			text-align: center;

			font-size: 36px;
			font-weight: 800;
			line-height: 44px;
			/* 122.222% */
			letter-spacing: -0.72px;

			.specialText {
				color: #28BCB8;
				font-size: 36px;
				font-style: normal;
				font-weight: 800;
				line-height: 44px;
				letter-spacing: -0.72px;
			}
		}
	}

	.imgBg {
		position: relative;

		.logo {
			position: absolute;
			top: 15%;
			right: 0;
			left: 0;
			display: flex;

			.wrapperLogo {
				display: flex;
				align-items: flex-end;
				gap: 4px;

				margin: 0 auto;
			}

			span {
				color: var(--Neutral-White, #FFF);
				text-align: center;
				font-size: 16.364px;
				font-style: italic;
				font-weight: 400;
				line-height: 13.636px;
				/* 83.333% */
			}
		}

	}
}


@media (1px < width < 768px) {
	.products {

		background: var(--Neutral-50, #F9FAFB);
		padding: 10rem var(--gutter-mobile);

		.mainContent {

			.top {
				.nav {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					h2 {
						color: var(--Neutral-900, #101828);
						/* Display md/Bold */
						font-size: var(--font-display-xs);
						font-weight: 700;
						line-height: 32px;
						letter-spacing: 0em;
						text-align: left;

					}
				}

				.switchBtn {
					margin: 3.6rem 0;
				}
			}

			.wrapperProducts {
				transition: all ease-in-out 0.3s;

				.productCard {
					display: flex;
					flex-direction: column;
					padding: 0 var(--gutter-mobile);
					align-items: center;

					.name {
						color: var(--Neutral-Black, #000);
						/* Display xs/Bold */
						//styleName: Text xl/Bold;
						font-size: var(--font-size-xl);
						font-weight: 700;
						line-height: 30px;
						letter-spacing: 0em;
						text-align: center;

						margin-top: 0rem;
					}

					.subText {

						color: var(--Neutral-600);
						/* Text lg/Semibold */
						//styleName: Text md/Semibold;
						font-size: var(--font-size-md);
						font-weight: 600;
						line-height: 24px;
						letter-spacing: 0em;
						text-align: center;


						margin-top: 0rem;
						margin-bottom: 1.4rem;
					}

					.pricing {
						color: var(--Neutral-Black, #000);
						/* Text xl/Bold */
						//styleName: Text xl/Bold;
						font-size: var(--font-size-xl);
						font-weight: 700;
						line-height: 30px;
						letter-spacing: 0em;
						text-align: center;

					}

					.ctnButtons {
						display: flex;
						align-items: center;
						gap: 2.4rem;

						margin-top: 2.4rem;
					}
				}


			}

		}

		.toggle-switch {
			width: 50px;
			height: 30px;
			background-color: #ccc;
			border-radius: 15px;
			position: relative;
			cursor: pointer;
			transition: background-color 0.3s ease;
			/* Animation for background color */
		}

		.toggle-switch.checked {
			background-color: #4caf50;
		}

		.slider {
			width: 25px;
			height: 25px;
			background-color: #fff;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			transition: transform 0.3s ease;
			/* Animation for sliding effect */
		}

		.toggle-switch.checked .slider {
			transform: translate(100%, -50%);
		}



	}

	.introduce {

		overflow: hidden;
		background: radial-gradient(607.72% 252.81% at 8.68% 5.79%, #01000B 34.29%, rgba(10, 3, 77, 0.80) 100%);

		.subscriptions {
			padding: 5rem var(--gutter-mobile);

			.wrapperTitle {

				.title {
					//font-size: 24px;
					margin-bottom: 2.4rem;
				}
			}
		}

		.featureReason {
			padding: 2rem var(--gutter-mobile) 4rem var(--gutter-mobile);

			.mainContent {}

			.wrapperTitle {


				margin-bottom: 2.4rem;

				.title {
					font-size: 24px;
					font-weight: 700;
					line-height: 44px;
					letter-spacing: -0.02em;
					text-align: left;
					text-transform: uppercase;
					color: #fff;

					.highlight {
						color: #28BCB8;
						font-size: inherit;
						font-weight: inherit;
						line-height: inherit;
						letter-spacing: inherit;
						text-align: inherit;


					}
				}

				.subTitle {
					//styleName: Text lg/Regular;
					color: var(--Neutral-100);
					font-size: 18px;
					font-weight: 400;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;

				}

				.text {
					//styleName: Text xl/Medium;
					font-size: var(--font-size-xl);
					font-weight: 500;
					line-height: 30px;
					letter-spacing: 0em;
					text-align: left;
					color: var(--Neutral-800);

				}
			}

			.wrapperTable {
				color: white;
				background: #002447;

				border-radius: 12px;
				border: 1px solid var(--Neutral-500, #667085);

				&:first-child {
					border-bottom: 1px solid var(--Neutral-500, #667085);
				}

				.rowContent {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					border-top: 1px solid var(--Neutral-500, #667085);
					font-size: 16px;


					.columnContent {
						padding: 2rem 3.2rem;
						text-align: center;
						font-weight: 500;
						line-height: 24px;
						font-size: var(--font-size-md);

						display: flex;
						justify-content: center;

						&:nth-child(1) {
							text-align: left;
							justify-content: start;
							display: flex;
							align-items: start;
							font-size: var(--font-size-md);
							font-style: normal;
							font-weight: 700;
							line-height: 24px;
							/* 150% */
						}

					}
				}
			}

			.wrapperTable2 {
				color: white;
				width: max-content;
				border-radius: 12px;
				border: 1px solid var(--Neutral-500, #667085);

				&:first-child {
					border-bottom: 1px solid var(--Neutral-500, #667085);
				}

				.rowContent {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					border-top: 1px solid var(--Neutral-500, #667085);
					font-size: 16px;


					.columnContent {
						padding: 2rem 3.2rem;
						text-align: center;
						font-weight: 500;
						line-height: 24px;
						font-size: var(--font-size-md);

						display: flex;
						justify-content: center;

						&:nth-child(1) {
							text-align: left;
							justify-content: start;
							display: flex;
							align-items: start;
							font-size: var(--font-size-md);
							font-style: normal;
							font-weight: 700;
							line-height: 24px;
							/* 150% */
						}

					}
				}
			}
		}

		.table {
			overflow: auto;
			padding: 10rem var(--gutter-mobile);

			h2 {
				width: 100vw;
				padding-left: var(--gutter-mobile);
				padding-right: var(--gutter-mobile);
				color: #FFF;
				font-size: var(--font-display-xs);
				font-weight: 700;
				line-height: 32px;
				letter-spacing: 0em;
				text-align: left;

				margin-bottom: 8.5rem;

				span {
					background: linear-gradient(176deg, #28BCB8 3.29%, #060544 260.18%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					font-size: var(--font-display-xs);
					font-weight: 700;
					line-height: 32px;
					letter-spacing: 0em;
					text-align: left;

				}
			}

			.wrapperTable {
				color: white;
				border-radius: 12px;
				min-width: 627px;
				border: 1px solid var(--Neutral-500, #667085);

				&:first-child {
					border-bottom: 1px solid var(--Neutral-500, #667085);
				}

				.rowContent {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					border-top: 1px solid var(--Neutral-500, #667085);
					font-size: 16px;


					.columnContent {
						padding: 2rem 3.2rem;
						text-align: center;
						font-weight: 500;
						line-height: 24px;
						font-size: var(--font-size-md);

						&:nth-child(1) {
							text-align: left;
							font-size: var(--font-size-md);
							font-style: normal;
							font-weight: 700;
							line-height: 24px;
							/* 150% */
						}

					}
				}
			}
		}

		.titleContent {
			padding: 7rem 1.6rem 4rem 1.6rem;
			margin: 0 auto;

			.ctnText {
				display: flex;
				justify-content: center;
				gap: 3.3rem;
				margin-bottom: 1.6rem;

				.text {
					display: flex;
					gap: 0.8rem;

					img {
						width: 16px;
					}
				}

				h3 {
					color: white;
					font-size: var(--font-size-sm);
					//styleName: Text sm/Regular;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0em;
					text-align: center;

				}
			}

			h2 {
				color: #FFF;
				text-align: center;

				font-size: var(--font-size-md);
				font-weight: 700;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: center;




				.specialText {
					color: #28BCB8;
					font-size: var(--font-size-md);
					font-weight: 700;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: center;
				}
			}
		}

		.imgBg {
			position: relative;

			.logo {
				position: absolute;
				top: 15%;
				right: 0;
				left: 0;
				display: flex;

				.wrapperLogo {
					display: flex;
					align-items: flex-end;
					gap: 4px;

					margin: 0 auto;

					img {
						width: 44px;
					}
				}

				span {
					color: var(--Neutral-White, #FFF);
					text-align: center;
					font-size: var(--font-size-xs);
					font-style: italic;
					font-weight: 400;
					line-height: 15px;
					letter-spacing: 0em;
					text-align: center;

				}
			}

		}
	}

}