.download {
	padding: 8rem 0;

	.wrapperTitle {



		.title {
			font-size: var(--font-display-md);
			font-weight: 700;
			line-height: 44px;
			letter-spacing: -0.02em;
			text-align: left;
			text-transform: uppercase;

			.highlight {
				color: #28BCB8;
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
				letter-spacing: inherit;
				text-align: inherit;


			}
		}

		.subTitle {
			//styleName: Text lg/Regular;
			color: var(--Neutral-100);
			font-size: 18px;
			font-weight: 400;
			line-height: 28px;
			letter-spacing: 0em;
			text-align: left;

		}

		.text {
			//styleName: Text xl/Medium;
			font-size: var(--font-size-xl);
			font-weight: 500;
			line-height: 30px;
			letter-spacing: 0em;
			text-align: left;
			color: var(--Neutral-800);

		}
	}


	.mainContent {
		margin-top: 4rem;

		.title {
			font-size: var(--font-display-sm);
			font-weight: bold;
			text-transform: uppercase;

			a {
				font-size: inherit;
				font-weight: inherit;
				text-transform: inherit;
				text-decoration: underline;
			}
		}

		.subTitle {
			font-size: var(--font-size-xl);
			font-style: italic;
			font-weight: 500;
		}
	}

	.section {

		margin-top: 4rem;

		.ctnBoxs {
			margin-top: 2.4rem;
			margin-left: 120px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 32px;
			column-gap: 120px;

			.box {
				display: flex;
				gap: 24px;
				min-width: 320px;
				border: 4px solid #28BCB8;
				border-radius: 16px;
				padding: 16px 32px;


				.left {
					display: flex;
					flex-direction: column;
					align-items: center;

					.text {
						color: var(--Neutral-500)
					}
				}

				.right {
					margin: auto;

					.text {
						font-size: var(--font-size-xl);
						font-weight: bold;
					}

					.subText {
						font-size: var(--font-size-xs);
					}
				}
			}
		}

	}

}

@media (1px < width < 768px) {
	.download {
		padding: 4rem var(--gutter-mobile);

		.wrapperTitle {



			.title {
				font-size: var(--font-display-sm);
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: left;
				text-transform: uppercase;

				.highlight {
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;


				}
			}

			.subTitle {
				color: var(--Neutral-100);
				font-size: var(--font-size-sm);
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;

			}

			.text {
				//styleName: Text xl/Medium;
				font-size: var(--font-size-lg);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: left;
				color: var(--Neutral-800);

			}
		}


		.mainContent {
			margin-top: 3.2rem;

			.title {
				font-size: var(--font-display-xs);
				font-weight: bold;
				text-transform: uppercase;

				a {
					font-size: inherit;
					font-weight: inherit;
					text-transform: inherit;
					text-decoration: underline;
				}
			}

			.subTitle {
				font-size: var(--font-size-lg);
				font-style: italic;
				font-weight: 500;
			}
		}

		.section {

			margin-top: 3rem;

			.ctnBoas {
				margin-top: 1.6rem;

				margin-left: 120px;
				display: flex;
				flex-wrap: wrap;
				row-gap: 32px;
				column-gap: 120px;

				.box {
					display: flex;
					gap: 24px;
					min-width: 320px;
					border: 4px solid #28BCB8;
					border-radius: 16px;
					padding: 16px 32px;


					.left {
						display: flex;
						flex-direction: column;
						align-items: center;

						.text {
							color: var(--Neutral-500)
						}
					}

					.right {
						margin: auto;

						.text {
							font-size: var(--font-size-lg);
							font-weight: bold;
						}

						.subText {
							font-size: var(--font-size-xs);
						}
					}
				}
			}

		}

	}

}