.cloudPcGuide {
	padding: 8rem 0;

	.wrapperTitle {



		.title {
			font-size: var(--font-display-md);
			font-weight: 700;
			line-height: 44px;
			letter-spacing: -0.02em;
			text-align: left;
			text-transform: uppercase;

			.highlight {
				color: #28BCB8;
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
				letter-spacing: inherit;
				text-align: inherit;


			}
		}

		.subTitle {
			//styleName: Text lg/Regular;
			color: var(--Neutral-100);
			font-size: 18px;
			font-weight: 400;
			line-height: 28px;
			letter-spacing: 0em;
			text-align: left;

		}

		.text {
			//styleName: Text xl/Medium;
			font-size: var(--font-size-xl);
			font-weight: 500;
			line-height: 30px;
			letter-spacing: 0em;
			text-align: left;
			color: var(--Neutral-800);

		}
	}


	.mainContent {
		margin-top: 4rem;

		.title {
			font-size: var(--font-display-xs);
			font-weight: 600;

			a {
				font-size: inherit;
				font-weight: inherit;
				text-transform: inherit;
				text-decoration: underline;
			}
		}

		.subTitle {
			font-size: var(--font-size-xl);
			font-style: italic;
			font-weight: 500;
		}

		.text {
			font-size: var(--font-size-lg);
			max-width: 550px;
		}

		ul {
			list-style: disc;
			font-size: inherit;
			text-transform: inherit;
			padding-left: 1.6rem;

			li {
				font-size: inherit;
				text-transform: inherit;
			}
		}

		b {
			font-size: inherit;
			font-weight: bold;
			text-transform: inherit;

		}
	}

	.section {

		margin-top: 1.2rem;
	}

	.subscribe {
		display: flex;
		column-gap: 120px;
		flex-wrap: wrap-reverse;

	}

	.content {
		transition: all 0.1s linear;
		opacity: 0;
		height: 0;
		margin-top: 0.8rem;

		.left {
			padding-left: 24px;
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		.right {
			overflow: hidden;
			border-radius: 12px;

		}
	}

	.connectToPc {
		display: flex;
		gap: 120px;
		flex-wrap: wrap-reverse;
	}

	.optimize {
		padding-left: 3.2rem;

		h3 {
			font-size: var(--font-size-xl);
			font-weight: 500;
		}

		.mobile {
			display: flex;
			gap: 120px;
			flex-wrap: wrap-reverse;

		}

	}

	.btnTitle {
		display: flex;
		gap: 8px;
		align-items: center;

		&:hover {
			opacity: 0.8;
		}
	}

	.hide {
		animation: fadeOut ease-in-out 0.5s;
		height: 0;
	}

	.show {
		animation: fadeIn ease-in-out 0.5s;
		height: auto;
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);

	}
}


@media (1px < width < 768px) {
	.cloudPcGuide {
		padding: 6rem var(--gutter-mobile);

		.wrapperTitle {



			.title {
				font-size: var(--font-display-sm);
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: left;
				text-transform: uppercase;

				.highlight {
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;


				}
			}

			.subTitle {
				//styleName: Text lg/Regular;
				color: var(--Neutral-100);
				font-size: var(--font-size-sm);
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;

			}

			.text {
				font-size: var(--font-size-lg);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: left;
				color: var(--Neutral-800);

			}
		}


		.mainContent {
			margin-top: 2.4rem;

			.title {
				font-size: var(--font-size-xl);
				font-weight: 600;

				a {
					font-size: inherit;
					font-weight: inherit;
					text-transform: inherit;
					text-decoration: underline;
				}
			}

			.subTitle {
				font-size: var(--font-size-lg);
				font-style: italic;
				font-weight: 500;
			}

			.text {
				font-size: var(--font-size-lg);
				max-width: 550px;
			}

			ul {
				list-style: disc;
				font-size: inherit;
				text-transform: inherit;
				padding-left: 1.6rem;

				li {
					font-size: inherit;
					text-transform: inherit;
				}
			}

			b {
				font-size: inherit;
				font-weight: bold;
				text-transform: inherit;

			}
		}

		.section {

			margin-top: 1.2rem;
		}

		.subscribe {
			display: flex;
			column-gap: 120px;
			flex-wrap: wrap-reverse;

		}

		.content {
			transition: all 0.1s linear;
			opacity: 0;
			height: 0;
			margin-top: 0.8rem;

			.left {
				padding-left: 24px;
				display: flex;
				flex-direction: column;
				gap: 4px;
			}

			.right {
				overflow: hidden;
				border-radius: 12px;
				margin: 0 auto;
			}
		}

		.connectToPc {
			display: flex;
			column-gap: 120px;
			flex-wrap: wrap-reverse;
		}

		.optimize {
			padding-left: 3.2rem;

			h3 {
				font-size: var(--font-size-xl);
				font-weight: 500;
			}

			.mobile {
				display: flex;
				column-gap: 120px;
				flex-wrap: wrap-reverse;

			}

		}

		.btnTitle {
			display: flex;
			gap: 8px;
			align-items: center;

			&:hover {
				opacity: 0.8;
			}
		}

		.hide {
			animation: fadeOut ease-in-out 0.5s;
			height: 0;
		}

		.show {
			animation: fadeIn ease-in-out 0.5s;
			height: auto;
			opacity: 1;
		}
	}

}