.order{

	margin-bottom: 12rem;
	.mainContent{
		display: grid;
		grid-template-columns: 1fr 60px 1fr;

	}
	.center{
		.stick{
			background:  #D0D5DD;
		    height: 100%;
			width: 1px;
			margin: 0 auto;
		}
	}
	.left{
		.form{
			position: relative;
			border-radius: 20px;
			background: var(--Neutral-100, #F2F4F7);
			padding: 4.4rem 2.4rem;
			.top{
				.title{
					color:  #101828;
					font-size: var(--font-display-xs);
					font-weight: 700;
					line-height: 44px; /* 122.222% */
					letter-spacing: -0.72px;
					text-transform: uppercase;
					margin-bottom: 0;
					span{
						background: linear-gradient(176deg, #28BCB8 3.29%, #060544 260.18%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-size: var(--font-display-md);
						font-weight: 700;
						line-height: 44px;
						letter-spacing: -0.72px;
						text-transform: uppercase;
					}
				}
	
				p{
					color: var(--Neutral-600, #475467);
	
					/* Text lg/Medium */
					font-size: var(--font-size-lg);
					font-weight: 500;
					line-height: 28px; /* 155.556% */
				}
			}
			
			
	
			.wrapperInputs{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 1.8rem;
				margin-top: 4.4rem;
				input{
					border-radius: 8px;
					background: #fff;
					padding: 1.2rem 2.8rem;
					width: 100%;
					outline: none;
				}
				.bigInput{
					height: 156px;
				}
				.btn-send{
					padding: 1.4rem 3.2rem;
					/* Text lg/Medium */
					font-size: var(--font-size-lg);
					font-weight: 500;
					line-height: 28px; /* 155.556% */
					margin-top: 2.6rem;
				}
			}
	
			
		}
	}

	
	.right{

		.cart{
			.title{
				display: flex;
				gap: 1.2rem;
				//styleName: Display xs/Bold;
				font-size: var(--font-display-xs);
				font-weight: 700;
				line-height: 32px;
				letter-spacing: 0em;
				text-align: left;
				margin-bottom: 1.5rem;

			}

			.info{
				//height: 80px;
				display: flex;
				justify-content: space-between;

				padding-bottom: 3.2rem;
				.spec{
					display: flex;
					gap: 10px;
					align-items: center;
					//styleName: Text lg/Bold;
					font-size: var(--font-size-lg);
					font-weight: 700;
					line-height: 28px;
					letter-spacing: 0em;

					.detail{
						display: flex;
						flex-direction: column;
						gap: 0.8rem;

						
						.name{
							//styleName: Text lg/Bold;
							font-size: var(--font-size-lg);
							font-weight: 700;
							line-height: 28px;
							letter-spacing: 0em;
							text-align: left;

						}
						.subInfo{
							display: flex;
							.ctnStick{
								width: 32px;
								.stick{
									margin: 0 auto;
									width: 1px;
									height: 100%;
									background: var(--Neutral-300);
								}
							}
							.text{
								font-size: var(--font-size-lg);
								font-weight: 400;
								line-height: 28px;
								letter-spacing: 0em;
								text-align: left;
								color: var(--Neutral-700);
							}
						}
					}
				}

				.price{
					//styleName: Text lg/Regular;
					font-size: var(--font-size-lg);
					font-weight: 400;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					color:var(--Neutral-900);
					text-align: right;

				}
			}
		}

		.options{
			margin-top: 3.2rem;
			.btn-buy{
				margin-top: 1.8rem;
				margin-bottom: 7.8rem;
				height: 58px;
				width: 100%;
				display: flex;
				align-items: center;
				gap: 1.4rem;
				border-radius: 200px;
				justify-content: center;
				color: #fff;
				background: #0066CC;
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;


			}
			.totalPrice{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				.text{
					//styleName: Text lg/Medium;
					font-size: var(--font-size-lg);
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					color: var(--Neutral-700);

				}
				.ctnPrice{
					display: flex;
					flex-direction: column;

				}
				.price{
					//styleName: Display sm/Bold;
					font-size: var(--font-display-sm);
					font-weight: 700;
					line-height: 38px;
					letter-spacing: 0em;

				}
				.subText{
					font-size: var(--font-size-md);
					font-style: italic;
					font-weight: 400;
					line-height: 28px;
					letter-spacing: 0em;
					color: var(--Neutral-500);
				}
			}
			.title{

				//styleName: Text xl/Bold;
				font-size: var(--font-size-xl);
				font-weight: 700;
				line-height: 30px;
				letter-spacing: 0em;

			}
			.subTitle{
				//styleName: Text md/Regular;
				font-size: var(--font-size-md);
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0em;
				color: var(--Neutral-600);

			}

			.price{
				//styleName: Text md/Regular;
				font-size: var(--font-size-md);
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0em;
				text-align: right;

			}
		}
		
		.ctnOptions{
			display: flex;
			flex-direction: column;
			gap: 1.6rem;
			margin-top: 2.4rem;


		}
		
		.option + .disable{
			opacity: 0.3;

		}
		
		.option{
			display: flex;
			flex-direction: column;
			gap: 1.6rem;
			.chose{
				border: 2px solid #0066CC !important;
	
			}
			.name{
				//styleName: Text md/Semibold;
				font-size: var(--font-size-md);
				font-weight: 600;
				line-height: 24px;
				letter-spacing: 0em;

				span{
					font-size: var(--font-size-md);
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0em;
				}

			}

			
			.content{
				display: flex;
				justify-content: space-between;
				border-radius: 1.2rem;
				padding: 1.6rem;
				border: 1px solid var(--Neutral-300);
				.info{
					//styleName: Text md/Regular;
					

					//styleName: Text md/Semibold;
					font-size: 16px;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: 0em;
					text-align: left;

					span{
						font-size: 16px;
						font-weight: 400;
						line-height: 24px;
						letter-spacing: 0em;
						text-align: left;
					}
				}

				.price{
					min-width: 150px;

				}
	
			}
		}
	}


	hr{
		height: 1px;
		width: 100%;
		background: var(--Neutral-300);
	}
}

.successScreen{
	padding-bottom: 15rem;

	.mainContent{
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		align-items: center;

		h2{
			//styleName: Display md/Bold;
			font-size: var(--font-display-md);
			margin-top: 5rem;
			font-weight: 700;
			line-height: 44px;
			letter-spacing: -0.02em;
			text-align: center;

		}

		p{
			//styleName: Text lg/Medium;
			color: var(--Neutral-600);
			font-size: 18px;
			font-weight: 500;
			line-height: 28px;
			letter-spacing: 0em;
			text-align: center;

		}

	}
}

