.modalOverlay{
	position: fixed;
	inset: 0px;
	background: #000000B2;

  }
  .modalContent {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 700px;
	width:  768px;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 20px;
	outline: none;
	overflow: hidden;


	.toolbar{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 1.6rem 2.4rem;
		background: var(--Neutral-50);
	}
  }

  @media (1px < width < 768px) {
	.modalOverlay{
		position: fixed;
		inset: 0px;
		background: #000000B2;
	
	  }
	  .modalContent {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100vh;
		width: 100vw;
		transform: translate(-50%, -50%);
		background-color: white;
		border-radius: unset;
		outline: none;
		overflow: hidden;
	
	
		.toolbar{
			width: 100%;
			display: flex;
			justify-content: flex-end;
			padding: 1.6rem 2.4rem;
			background: var(--Neutral-50);
		}
	  }
	
  }



