
.breadcrumb{
	padding-top: 6.4rem;
	padding-bottom: 6.4rem;
    border-top: 1px solid var(--Neutral-200);

	//styleName: Text sm/Semibold;
	font-size: var(--font-size-sm);
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;

}