.main {

    .appReason {
        border-top: 1px solid #E6E6EC;
        border-bottom: 1px solid #E6E6EC;
        padding: 6rem 0;

        .mainContent {
            max-width: fit-content !important;
            width: 100% !important;

            .img {
                border-radius: 4rem;
                overflow: hidden;
            }
        }


        .listAppSupport,
        .listApp {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3.2rem;
            row-gap: 0.2rem;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;

                .text {
                    max-width: 120px;

                    font-size: var(--font-size-xs);
                    font-weight: 400;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #475467;


                }
            }
        }

        .listAppSupport {
            gap: 0rem;
        }

        .right {
            padding-left: 0rem;

        }

        .left {


            .ctnOs {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 2.4rem;

                .title {
                    margin-top: 2.4rem;
                    margin-bottom: 0.8rem;
                    padding-right: 5%;
                    font-size: var(--font-size-lg);
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;

                }

                .listOs {
                    display: flex;
                    gap: 1.6rem;

                    .os {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 4px;
                    }
                }
            }
        }

        .wrapperTitle {


            .title {
                margin: 1.2rem 0 2.4rem 0;
                font-size: 36px;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: -0.02em;
                text-align: center;
                text-transform: uppercase;

                .highlight {
                    color: #28BCB8;
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                    letter-spacing: inherit;
                    text-align: inherit;


                }
            }

            .subTitle {
                //styleName: Text lg/Regular;
                color: var(--Neutral-500);
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;

            }

            .text {
                //styleName: Text xl/Medium;
                font-size: var(--font-size-xl);
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: center;
                color: var(--Neutral-800);

            }
        }
    }

    .reason {
        background: var(--Neutral-50, #F9FAFB);
        padding: 10rem 0px;

        .mainContent {

            .top {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                h2 {
                    color: var(--Neutral-900, #101828);
                    /* Display md/Bold */
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 44px;
                    /* 122.222% */
                    letter-spacing: -0.72px;
                }

                .specialText {
                    color: #28BCB8;
                    /* Display md/Bold */
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 44px;
                    letter-spacing: -0.72px;
                    text-transform: uppercase;
                }
            }

            .bottom {
                position: relative;
                overflow: hidden;
                height: 518px;
                margin-top: 10rem;
                overflow-x: auto;

                .ctnCards {
                    position: absolute;
                    display: flex;
                    gap: 3.2rem;
                    right: 0;
                    left: 0;
                    top: 0;
                }

                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    padding: 3.2rem;
                    border-radius: 20px;
                    background: #FFF;

                    .subTitle {
                        color: var(--Neutral-900, #101828);
                        /* Text lg/Semibold */
                        font-size: var(--font-size-lg);
                        font-weight: 600;
                        line-height: 28px;
                        /* 155.556% */
                    }

                    .title {
                        margin: 1.2rem 0;
                        color: var(--Neutral-Black, #000);
                        /* Display sm/Bold */
                        font-size: var(--font-display-sm);
                        font-weight: 700;
                        line-height: 38px;
                    }

                    .text {
                        color: var(--Neutral-900, #101828);
                        /* Text lg/Regular */
                        font-size: var(--font-size-lg);
                        font-weight: 400;
                        line-height: 28px;
                        /* 155.556% */
                    }

                    .ctnLinks {
                        display: flex;
                        flex-direction: column;
                        gap: 1.8rem;

                        margin-top: auto;
                    }
                }
            }
        }
    }
}


@media (1px < width < 768px) {
    .main {

        .appReason {
            border-top: 1px solid #E6E6EC;
            border-bottom: 1px solid #E6E6EC;
            padding: 6rem 0;

            .mainContent {
                max-width: fit-content !important;
                width: 100% !important;

                .img {
                    border-radius: 4rem;
                    overflow: hidden;
                }
            }

            .listApp {
                display: flex;
                margin-top: -1rem;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1.2rem;
                row-gap: 1.2rem;

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.8rem;
                    min-width: max-content;

                    .text {
                        //styleName: Display xs/Medium;
                        //styleName: Text xs/Regular;
                        font-size: var(--font-size-xs);
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #475467;


                    }
                }
            }

            .right {
                padding-left: 4rem;

            }

            .left {


                .ctnOs {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-bottom: 2.4rem;

                    .title {
                        margin-top: 2.4rem;
                        margin-bottom: 0.8rem;
                        padding-right: 5%;
                        font-size: var(--font-size-lg);
                        font-weight: 500;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left;

                    }

                    .listOs {
                        display: flex;
                        gap: 1.6rem;

                        .os {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 4px;
                        }
                    }
                }
            }

            .wrapperTitle {


                .title {
                    margin: 1.2rem 0 2.4rem 0;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 44px;
                    letter-spacing: -0.02em;
                    text-align: center;
                    text-transform: uppercase;

                    .highlight {
                        color: #28BCB8;
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        letter-spacing: inherit;
                        text-align: inherit;


                    }
                }

                .subTitle {
                    //styleName: Text lg/Regular;
                    color: var(--Neutral-500);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;

                }

                .text {
                    //styleName: Text xl/Medium;
                    font-size: var(--font-size-xl);
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: var(--Neutral-800);

                }
            }
        }



        .reason {
            background: var(--Neutral-50, #F9FAFB);
            padding: 6rem 0px;

            .mainContent {

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0 var(--gutter-mobile);

                    h2 {
                        color: var(--Neutral-900, #101828);
                        /* Display md/Bold */
                        //styleName: Display xs/Bold;
                        font-size: var(--font-display-xs);
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0em;
                        text-align: left;

                    }

                    .specialText {
                        color: #28BCB8;
                        /* Display md/Bold */
                        font-size: var(--font-display-xs);
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }

                .bottom {
                    position: relative;
                    overflow: hidden;
                    height: 518px;
                    margin-top: 0rem;
                    overflow-x: auto;

                    .ctnCards {
                        position: absolute;
                        display: flex;
                        gap: 1.6rem;
                        right: 0;
                        left: 0;
                        top: 0;
                    }

                    .card {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        padding: 3.2rem;
                        border-radius: 20px;
                        background: #FFF;

                        .subTitle {
                            color: var(--Neutral-900, #101828);
                            /* Text lg/Semibold */
                            font-size: var(--font-size-lg);
                            font-weight: 600;
                            line-height: 28px;
                            /* 155.556% */
                        }

                        .title {
                            margin: 1.2rem 0;
                            color: var(--Neutral-Black, #000);
                            /* Display sm/Bold */
                            font-size: var(--font-display-sm);
                            font-weight: 700;
                            line-height: 38px;
                        }

                        .text {
                            color: var(--Neutral-900, #101828);
                            /* Text lg/Regular */
                            font-size: var(--font-size-lg);
                            font-weight: 400;
                            line-height: 28px;
                            /* 155.556% */
                        }

                        .ctnLinks {
                            display: flex;
                            flex-direction: column;
                            gap: 1.8rem;

                            margin-top: auto;
                        }
                    }
                }
            }
        }
    }

}



.scroller__inner {
    padding-block: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.scroller[data-animated="yes"] {
    overflow: hidden;
}

.scroller[data-animated="yes"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 0.3rem;
    //background: red;
    border-radius: 0.5rem;
}