

.cloudPc{



	.heroSection{	
		height: 800px;
		padding-top: 80px;
		
		background-image:  url('/hero-cloudPC.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		.brand{
			color: var(--Neutral-200, #667085);
			font-size: var(--font-size-lg);
			
		}
		
		h1{
			margin: 12px 0 24px 0;

			color: var(--Neutral-25);
			font-size: 36px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 44px; 
			letter-spacing: -0.72px;

			span{
				color: #28BCB8;
				font-size:inherit;
				font-weight:inherit;
				text-transform:inherit;
				line-height:inherit;
				letter-spacing:inherit;
			}
		}
		.subText{
			max-width: 50ch;
			margin-bottom: 44px;

			color: var(--Neutral-50);
			font-size: var(--font-size-md);
			font-weight: 500;
			line-height: 30px; /* 150% */
		}
	}

	

	.reason{

		background: var(--Neutral-50);
		.mainContent{
			padding: 10rem 0;

			
			.cards{
				display: flex;
				justify-content: space-between;
				margin-top: 48px;
				.card{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 32px 24px 32px 24px;
					border-radius: 2rem;
					height: 320px;
					background-color: #ffffff;

					.title{
						//styleName: Text xl/Semibold;
						font-size: var(--font-size-xl);
						margin: 1.2rem 0 2.4rem 0;
						font-weight: 600;
						line-height: 30px;
						letter-spacing: 0em;
						text-align: left;
					}
					.text{
						//styleName: Text lg/Medium;
						font-size: var(--font-size-lg);
						font-weight: 500;
						line-height: 28px;
						letter-spacing: 0em;
						text-align: left;

					}

					.btn-link{
						display: flex;
						gap: 4px;
						//styleName: Text lg/Semibold;
						font-size: var(--font-size-lg);
						font-weight: 600;
						line-height: 28px;
						letter-spacing: 0em;
						text-align: center;
						color: #0066CC;

					}
				}
			}
		}
		.wrapperTitle{
		

			.title{
				font-size: 36px;
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: left;
	
				.highlight{
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;
	
	
				}
			}
	
			.subTitle{
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: left;
	
			}
		}
	}

	.subscriptions{
		padding: 16rem 0;
		background: hsl(210, 100%, 14%);

		
		.wrapperTitle{
		
			margin-bottom: 8rem;

			.title{
				font-size: 36px;
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: left;
				color: #fff;
	
				.highlight{
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;
	
	
				}
			}
	
			.subTitle{
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: left;
	
			}
		}

		.cards{
			display: flex;
			justify-content: space-between;
		}
		.subscription{
			padding: 24px 32px;
			border: 2px solid var(--Neutral-500);
			border-radius: 16px;
			width: 353px;
			.ctnName{

				.name{
					//styleName: Text lg/Semibold italic;
					font-size: var(--font-size-lg);
					font-weight: 600;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;
					color: white;

				}
				.subName{
					color: white;
					font-size: 1rem;
					font-style: italic;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0em;
					text-align: right;
					
				}
			}

			.ctnPrice{
				display: flex;
				align-items: flex-end;
				margin: 12px 0 32px 0;
				.price{
					//styleName: Display lg/Semibold;
					font-size: var(--font-display-lg);
					font-weight: 600;
					line-height: 60px;
					letter-spacing: -0.02em;
					text-align: left;
					color: #28BCB8;


				}
				.subPrice{
					//styleName: Text sm/Medium;
					font-size: var(--font-size-sm);
					font-weight: 500;
					line-height: 20px;
					letter-spacing: 0em;
					text-align: left;
					color: #fff;

				}
			}

			.ctnSpec{
				//styleName: Text md/Regular;
				display: flex;
				flex-direction: column;
				gap: 1.6rem;
				.spec{
					display: flex;
					gap: 1.2rem;
					color: #fff;
					font-size: var(--font-size-md);
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0em;
					text-align: left;

					.text{
						//styleName: Text md/Regular;
						font-size: var(--font-size-md);
						font-weight: 400;
						line-height: 24px;
						letter-spacing: 0em;
						text-align: left;

					}
				}

			}

			.ctnBtn{
				margin-top: 4.8rem;
				display: flex;

				align-items: center;
				justify-content: space-around;
				.btn-checkout{

					border-radius: 999px;
					padding: 12px 24px 12px 24px;
					background: #E6F0FA;

					font-size: var(--font-size-lg);
					font-weight: 500;
					&:hover{
						filter: invert(1);
						outline: 2px solid;
					}
				}
			}
		}
	}

	.connectReason{
		border-top: 1px solid #E6E6EC ;
		border-bottom: 1px solid #E6E6EC ;
		padding: 10rem 0;
		.mainContent{
			display: flex;
			justify-content: space-between;

			.img{
				border-radius: 4rem;
				overflow: hidden;
			}
		}
		.right{
			padding-left: 4rem;


			.ctnOs{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-bottom: 2.4rem;
				.title{
					margin-top: 2.4rem;
					margin-bottom: 0.8rem;
					padding-right: 5%;
					font-size: var(--font-size-lg);
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;

				}
				.listOs{
					display: flex;
					gap: 1.6rem;
					.os{
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 4px;
					}
				}
			}
		}
		.wrapperTitle{
		

			.title{
				margin: 1.2rem 0 2.4rem 0;
				font-size: 36px;
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: left;
				text-transform: uppercase;

				.highlight{
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;
	
	
				}
			}
			.subTitle{
				//styleName: Text lg/Regular;
				color: var(--Neutral-500);
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;

			}
			.text{
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: left;
				color: var(--Neutral-800);
	
			}
		}
	}

	.ctaBtn{
		padding: 1.4rem 3.2rem;
		font-size: 1.8rem;
		font-weight: 600;
	}
	.productiveReason{
		border-top: 1px solid #E6E6EC ;
		border-bottom: 1px solid #E6E6EC ;
		padding: 10rem 0;
		.mainContent{
			display: flex;
			justify-content: space-between;

			
		}
		.listProductive{
			display: flex;
			flex-direction: column;
			margin-bottom: 4.8rem;
			gap: 8px;

			.item{
				display: flex;
				align-items: end;
				gap: 0.8rem;
				.text{
					//styleName: Display xs/Medium;
					font-size: 24px;
					font-weight: 500;
					line-height: 32px;
					letter-spacing: 0em;
					text-align: left;

				}
			}
		}
	
		.wrapperTitle{
		

			.title{
				margin: 1.2rem 0 2.4rem 0;
				font-size: 36px;
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: left;
				text-transform: uppercase;

				.highlight{
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;
	
	
				}
			}
			.subTitle{
				//styleName: Text lg/Regular;
				color: var(--Neutral-500);
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;

			}
			.text{
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: left;
				color: var(--Neutral-800);
	
			}
		}
	}


	.appReason{
		border-top: 1px solid #E6E6EC ;
		border-bottom: 1px solid #E6E6EC ;
		padding: 10rem 0;
		.mainContent{

			.img{
				border-radius: 4rem;
				overflow: hidden;
			}
		}
		.listApp{
			display: flex;
			margin-top: 4rem;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1.2rem;
			row-gap: 1.2rem;
			.item{
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.8rem;
				min-width: max-content;
				.text{
					//styleName: Display xs/Medium;
					//styleName: Text xs/Regular;
					font-size: var(--font-size-xs);
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0em;
					text-align: left;
					color: #475467;


				}
			}
		}
		.right{
			padding-left: 4rem;

		}
		.left{


			.ctnOs{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-bottom: 2.4rem;
				.title{
					margin-top: 2.4rem;
					margin-bottom: 0.8rem;
					padding-right: 5%;
					font-size: var(--font-size-lg);
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0em;
					text-align: left;

				}
				.listOs{
					display: flex;
					gap: 1.6rem;
					.os{
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 4px;
					}
				}
			}
		}
		.wrapperTitle{
		

			.title{
				margin: 1.2rem 0 2.4rem 0;
				font-size: 36px;
				font-weight: 700;
				line-height: 44px;
				letter-spacing: -0.02em;
				text-align: center;
				text-transform: uppercase;

				.highlight{
					color: #28BCB8;
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
					text-align: inherit;
	
	
				}
			}
			.subTitle{
				//styleName: Text lg/Regular;
				color: var(--Neutral-500);
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;

			}
			.text{
				//styleName: Text xl/Medium;
				font-size: var(--font-size-xl);
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0em;
				text-align: center;
				color: var(--Neutral-800);
	
			}
		}
	}
}

@media (1px < width < 768px) {
	.contact{
		padding: 0 var(--gutter-mobile);
		.logo{
			display: flex;
			align-items: flex-end;
			gap: 4px;
			margin-bottom: 4.4rem;
			span{
				color: var(--Neutral-900);
				font-size: var(--font-size-lg);
				font-style: italic;
				font-weight: 400;
				line-height: 18.75px; /* 100% */
			}
		}
	
		h6{
			color: var(--Neutral-900, #101828);
			font-size: var(--font-size-xl);
			font-weight: 700;
		}
		ul{
			margin-top: 24px;
			display: flex;
			flex-direction: column;
			gap: 16px;
			color: var(--Neutral-900, #101828);
	
			//styleName: Text xl/Regular;
			font-size: 2rem;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0em;
			text-align: left;
	
			li{
				display: flex;
				gap: 0.8rem
			}
	
		}
		.feedbackForm{
			display: flex;
			margin: 10rem auto;
			margin-top: 0;
			.img{
				
			}
	
	
			.form{
				position: relative;
				border-radius: 20px;
				background: var(--Neutral-100, #F2F4F7);
				padding: 2.4rem 1.6rem;
				.top{
					.title{
						color:  #101828;
						font-size: var(--font-display-xs);
						font-weight: 700;
						line-height: 32px;
						letter-spacing: 0em;
						text-align: center;

						margin-bottom: 0;
						span{
							background: linear-gradient(176deg, #28BCB8 3.29%, #060544 260.18%);
							background-clip: text;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							font-size: var(--font-display-md);
							font-weight: 700;
							line-height: 44px;
							letter-spacing: -0.72px;
							text-transform: uppercase;
						}
					}
		
					p{
						color: var(--Neutral-600, #475467);
		
						font-size: var(--font-size-md);
						font-weight: 500;
						line-height: 24px;
						letter-spacing: 0em;
						text-align: center;
					}
				}
				
				
		
				.wrapperInputs{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 1.8rem;
					margin-top: 4.4rem;
					input{
						border-radius: 8px;
						background: #fff;
						padding: 1.2rem 2.8rem;
						width: 100%;
						outline: none;
					}
					.bigInput{
						height: 156px;
					}
					.btn-send{
						padding: 1.4rem 3.2rem;
						/* Text lg/Medium */
						font-size: var(--font-size-lg);
						font-weight: 500;
						line-height: 28px; /* 155.556% */
						margin-top: 2.6rem;
					}
				}
	
				
			}
	
		}
	}
		
}