.shippingPolicy{

	margin-bottom: 12rem;
	.title{
		margin: 0 auto;

		margin-bottom: 8.8rem;
		h2{
			font-size: var(--font-display-md);
			font-weight: 700;
			line-height: 44px;
			letter-spacing: -0.02em;
			text-align: center;
			color: var(--Neutral-900);
			margin-bottom: 1.2rem;
		}
		p{
			//styleName: Text md/Medium;
			font-size: var(--font-size-md);
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0em;
			text-align: center;
			color: var(--Neutral-700);

		}
	}
	.wrapperPolicys{
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}
	.content{
		
		h3{
			//styleName: Display xs/Bold;
			font-size: var(--font-display-xs);
			color: var(--Neutral-900);
			font-weight: 700;
			line-height: 32px;
			margin-bottom: 1.8rem;

		}	

		ul{
			display: flex;
			flex-direction: column;
			gap: 12px;

			li{
				//styleName: Text md/Medium;
				font-size: var(--font-size-md);
				color: var(--Neutral-800);
				font-weight: 500;
				line-height: 24px;
			}

		}
	}
}