
.footer{
	border-top: 1px solid var(--Neutral-200);
	border-bottom: 1px solid var(--Neutral-200);
	background: var(--Neutral-25, #FCFCFD);

	padding: 44px 0px;

	.mainContent{
		display: flex;
		justify-content: space-between;

		.left{

			.email{
				.text{
					font-size: var(--font-size-xs);
					color: var(--Neutral-700);
					margin-bottom: 8px;
				}
				.ctnBtn{
					display: flex;
					justify-content: space-between;
					align-items: center;
					
					margin-top: 16px;
					padding: 8px 24px;
					background: var(--Neutral-100, #F2F4F7);
					border-radius: 60px;
				}
			}
		}

		.right{
			display: flex;
			justify-content: space-between;
			.services{

				h6{
					color: var(--Neutral-900, #101828);
					font-size: var(--font-size-xl);
					font-weight: 700;
				}
				ul{
					margin-top: 24px;
					display: flex;
					flex-direction: column;
					gap: 16px;
				}
			}
		}
	}


}
.copyRight{
	padding: 16px 0;
	width: 100%;
	color: var(--Neutral-500, #667085);
	text-align: center;
	
}